<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mortitech.blueprint.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blueprint.Chat">
        <activity android:name=".login.LoginActivity"
            android:theme="@style/Theme.Blueprint.Chat.NoActionBar"
            android:label="@string/login_activity_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".list.ChatActivity"
            android:label="@string/chat_activity_title"
            android:theme="@style/Theme.Blueprint.Chat.NoActionBar" />
    </application>

</manifest>
